---
import "../global.css";
import fondo_home from "../assets/img/fondo.webp";
---

<div class="w-full h-svh flex items-center justify-center">
    <img src={fondo_home.src} alt="fondo" class="w-full h-screen object-cover" />
</div>
