---
import "../global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <Header />
  <div class="w-full h-svh flex flex-col items-center justify-center">
    <h1 class="text-red-700">¿QUIÉNES SOMOS?</h1>
    <p>
      El despacho surge de la visión emprendedora de un profesional con más de
      20 años de experiencia en contabilidad, fiscalidad y finanzas. Con una
      formación que incluye una Licenciatura en Contaduría, una Maestría en
      Administración Financiera y un Doctorado en Derecho Tributario obtenido en
      2023, ofrecemos consultoría integral en contabilidad, fiscalidad, finanzas
      y seguridad social para PYMEs. Estamos especializados en las necesidades
      iniciales de las empresas y en las obligaciones operativas, proporcionando
      soluciones precisas tanto para empresas establecidas como para aquellas en
      proceso de iniciar operaciones.
    </p>
    <h2>MISIÓN</h2>
    <p>
      Enfocamos nuestros esfuerzos en brindar a nuestros clientes el mejor
      servicio y soluciones excepcionales que impulsen su crecimiento y
      bienestar financiero. Buscamos asegurar la tranquilidad de nuestros
      clientes como empresarios, garantizando su cumplimiento efectivo de las
      leyes fiscales y legales pertinentes.
    </p>
    <h2>VISIÓN</h2>
    <p>
      Ser una organización que brinde servicios integrales a empresas, orientada
      hacia su crecimiento y éxito empresarial. Buscamos ser líderes en el
      mercado y ser reconocidos por la calidad de nuestros servicios, así como
      por nuestra capacidad de innovación y adaptación a las necesidades
      cambiantes de nuestros clientes.
    </p>
    <h2>OBJETIVOS</h2>
    <p>
      Nuestros profesionales se dedican a brindar a cada uno de nuestros
      clientes un servicio completo e integral al 100%, basado en un profundo
      conocimiento de su negocio y del sector en el que se desenvuelven. Nuestro
      objetivo es asegurar el éxito financiero y la tranquilidad de nuestros
      clientes como empresarios, garantizando su cumplimiento efectivo de las
      leyes fiscales y legales pertinentes.
    </p>
  </div>
  <Footer />
</Layout>
