---
import "../global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <Header />
  <div class="w-full h-svh flex items-center justify-center">
    <h1 class="text-red-700">SERVICIOS</h1>
  </div>
  <Footer />
</Layout>
