---
import "../global.css";
---

<footer class="bg-gray-100 p-4">
    <div class="text-center">
      <span class="text-sm text-gray-500">
        © 2023 Astro. Todos los derechos reservados.
      </span>
    </div>
  </footer>
  
