---
import "../global.css";
---

<footer class="bg-arietis-200 p-4">
    <div class="text-center">
      <span class="text-sm text-arietis-900">
        Derechos reservados a Consultores y Asesores de Negocios Arietis S.C. 2025
      </span>
    </div>
  </footer>
  
