---
import "../global.css";
import icon_whatsapp from "../assets/svg/whatsapp.svg";
import icon_phone from "../assets/svg/phone.svg";
import icon_mail from "../assets/svg/mail.svg";
import logo from "../assets/img/logo-arietis.png";
---

<header class="bg-white p-5 flex flex-col md:flex-row items-center justify-between">
  <img src={logo.src} alt="logo" class="w-64" />

  <div class="space-x-8">
    <a
      class="font-semibold text-arietis-500 text-lg hover:text-arietis-950 hover:text-xl"
      href="/">Inicio</a
    >
    <a
      class="font-semibold text-arietis-500 text-lg hover:text-arietis-950 hover:text-xl"
      href="/servicios">Servicios</a
    >
    <a
      class="font-semibold text-arietis-500 text-lg hover:text-arietis-950 hover:text-xl"
      href="/nosotros">Nosotros</a
    >
  </div>

  <div class="flex space-x-5">
    <a href="tel:+525573759193">
      <img src={icon_phone.src} alt="phone" class="w-6" />
    </a>
    <a href="https://wa.me/5561907698" target="_blank" rel="noreferrer">
      <img src={icon_whatsapp.src} alt="whatsapp" class="w-6" />
    </a>
    <a href="mailto:emgconsultores9@gmail.com">
      <img src={icon_mail.src} alt="mail" class="w-6" />
    </a>
  </div>
</header>
